# Files we don't need to track

Makefile
Makefile.in

*~
.*.swp
*.o
*.la
*.lo

.deps
.libs

/m4/*
/aclocal.m4
/autom4te.cache
/configure
/config.h.in
/config.h
/config.guess
/config.log
/config.status
/config.sub
/depcomp
/install-sh
/libtool
/ltmain.sh
/stamp-h1
/missing

/testing/hello
